@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
main {
  height: 100vh;
  overflow: hidden;
  background: radial-gradient(farthest-corner, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.8));
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.wrapper {
  height: 45vmin;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  -webkit-mix-blend-mode: screen;
  mix-blend-mode: screen;
}
.wrapper.invert span {
  color: black;
}
.wrapper.invert span::before {
  text-stroke: 2.2vmin var(--color);
  -webkit-text-stroke: 2.2vmin var(--color);
}
.wrapper span {
  --color: #ffba11;
  font-size: 20vmin;
  font-family: Impact, "Anton", Haettenschweiler, "Arial Narrow Bold", sans-serif;
  font-weight: 700;
  font-style: italic;
  display: block;
  position: absolute;
  z-index: 0;
  color: var(--color);
  letter-spacing: -0.1vmin;
}
.wrapper span::before, .wrapper span::after {
  content: attr(data-text);
  display: block;
  z-index: 1;
  position: relative;
  padding: 0 1vmin;
}
.wrapper span::before {
  position: absolute;
  text-stroke: 2.1vmin black;
  -webkit-text-stroke: 2.1vmin black;
  z-index: 0;
}
.wrapper span:first-child {
  transform: translate(-5vmin, -5.2vmin);
}
.wrapper span:last-child {
  --color: #b6acff;
  transform: translate(5vmin, 5.2vmin);
}